/* Break points */

/* 768px */
/* 960px */

:root {
  --primary-bg-color: #F5EBDC;
  --secondary-bg-color: #D62300;
  --secondary-color: #502314;
}

/* Adding flame font */
@font-face {
  font-family: 'Flame Bold';
  src: url('./fonts/Flame-Bold.woff');
}

@font-face {
  font-family: 'Flame Regular';
  src: url('./fonts/Flame-Regular.woff');
}

@font-face {
  font-family: 'FlameSans Regular';
  src: url('./fonts/FlameSans-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
}

.max-w-xl {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Navbar */

header {
  box-shadow: 0 1px 1.4px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

nav svg {
  width: 2rem;
  margin-left: 6rem;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

button.register{
  font-family: "Flame Regular";
  font-size: 0.75rem;
  color: #FFFFFF;
  border-radius: 50px;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 0.6rem 1rem;
}

button.cart {
  display: none;
  font-family: "Flame Regular";
  font-size: 0.75rem;
  color: var(--primary-bg-color);
  border-radius: 50px;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.6rem 1rem;
}


/* Hero Section */

section.hero {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 1rem;
}

.hero h1 {
  font-family: "Flame Bold";
  font-size: 2rem;
  color: var(--secondary-color);
}

.hero-img-container {
  width: 100%;
  height: 240px;
  margin-top: 1rem;
}

.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-img-lg {
  display: none;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.6rem 1rem;
  width: 100%;
  gap: 1rem;
}

.hero-buttons button {
  font-family: 'flame regular';
  height: 55px;
  border-radius: 9999px;
  border: none;
  font-size: 1.25rem;
}

button.order-pickup {
  color: #FFFFFF;
  background-color: var(--secondary-bg-color);
}

button.order-delivery {
  color: var(--secondary-bg-color);
  background-color: transparent;
  border: 1px solid var(--secondary-bg-color);
}


/* Order Features Section */

section.features {
  padding: 0.6rem 1rem;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.order-featured-card {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 1px 1.4px rgba(0, 0, 0, 0.2);
}

.feature-img-container {
  width: 445px;
}

.feature-img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px
}

.feature-content {
  padding: 1rem;
}

.feature-content h2 {
  font-family: 'Flame regular';
  font-size: 1.2rem;
}

.feature-content p {
  font-family: 'FlameSans regular';
  font-size: 0.75rem;
  padding: 0.75rem 0 0.5rem 0;
}

.feature-content a {
  font-family: 'FlameSans regular';
  font-size: 0.75rem;
  color: var(--secondary-color);
}

.feature-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}

.feature-button button {
  font-family: 'flame regular';
  height: 40px;
  border-radius: 9999px;
  padding: 0 1rem;
  color: var(--secondary-bg-color);
  background-color: transparent;
  border: 1px solid var(--secondary-bg-color);
}


/* CTA Section */

.cta-bg {
  background-color: #EBE2D3;
}

.cta {
  display: flex;
  padding: 0.6rem 1rem;
  color: var(--secondary-color);
  margin-top: 8rem;
  flex-wrap: wrap;
}

.cta-img-container {
  width: 30%;
  margin-top: -3rem;
}

.cta img {
  width: 100%;
}

.cta-img-lg {
  display: none;
}

.cta-content {
  display: flex;
}

.cta-content h2 {
  font-family: 'flame bold';
  font-size: 1.8rem;
  padding: 1rem;
  align-self: center;
}

/* .cta-content {
  display: flex;
  flex-direction: column;
} */

.cta-buttons-md, .para-md {
  display: none;
}

.cta-buttons-sm {
  display: flex;
  margin: 1rem auto;
  gap: 1rem;
}

.cta .para-sm {
  font-family: 'flameSans regular';
  font-size: 0.86rem;
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem 0;
}


/* Media Queries for tablet view */

@media only  screen and (min-width:768px){
 
 .max-w-xl {
  max-width: 800px;
 }

  button.cart {
    display: inline;
  }

  section.hero {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero h1 {
    font-family: "Flame Bold";
    font-size: 2.5rem;
    padding: 1rem;
    width: 30%;
    align-self: flex-start;
    margin-top: 2rem;
  }

  .hero-img-container {
    width: 65%;
    height: 300px;
  }  

  .hero-img-sm {
    display: none;
  }

  .hero-img-lg {
    display: inline;
  }

  .hero-buttons {
    width: 32%;
    margin-top: -10rem;
  }

  /* Featured Orders Section */

  .order-featured-card {
    width: 360px;
  }
  
  .feature-img-container {
    width: 454px;
  }

  /* CTA sections */

  .cta {
    gap: 3rem;
  }

  .cta-content {
    flex-direction: column;
    max-width: 55%;
  }

  .cta-content h2 {
    padding: 1rem 1rem 1rem 0;
    align-self: flex-start;
  }

  .cta-buttons-sm, .para-sm {
    display: none;
  }

  .cta-buttons-md {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
  }
  
  .para-md {
    display: block;
    font-family: 'flameSans regular';
    font-size: 0.86rem;
    color: var(--secondary-color);
    text-align: left;
    padding: 1rem 0;
  }
}


/* Media queries for desktop and large screen */

@media only  screen and (min-width:960px){


  .max-w-xl {
    max-width: 1200px;
   }

  section.hero {
    height: 450px;
  }

  .hero h1 {
    font-size: 3.8rem;
  }

  .hero-img-container {
    height: 100%;
  }

  .hero-buttons {
    margin-top: -15rem;
  }

  /* Feature order section */

  section.features {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
  }

  .order-featured-card {
    width: 48%;
  }

  .feature-img-container {
    width: 100%;
  }

  .feature-img-container img {
    width: 446px;
  }

  /* CTA section */

  .cta-img-lg {
    display: block;
  }

  .cta-img-sm {
    display: none;
  }

  .cta-img-container {
    width: 40%;
  }

  .cta-content {
    width: 52%;
  }

  .cta-content h2 {
    font-size: 3rem;
  }

  .cta-buttons-md {
    max-width: 70%;
  }
}