/* Break points */

/* 768px */
/* 960px */

:root {
  --primary-bg-color: #F5EBDC;
  --secondary-bg-color: #D62300;
  --secondary-color: #502314;
}

/* Adding flame font */
@font-face {
  font-family: 'Flame Bold';
  src: url('./fonts/Flame-Bold.woff');
}

@font-face {
  font-family: 'Flame Regular';
  src: url('./fonts/Flame-Regular.woff');
}

@font-face {
  font-family: 'FlameSans Regular';
  src: url('./fonts/FlameSans-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
}

/* Navbar */

.max-w-xl {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  box-shadow: 0 1px 1.4px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

nav svg {
  width: 2rem;
  margin-left: 6rem;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

button.register{
  font-family: "Flame Regular";
  font-size: 0.75rem;
  color: #FFFFFF;
  border-radius: 50px;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 0.6rem 1rem;
}

button.cart {
  display: none;
  font-family: "Flame Regular";
  font-size: 0.75rem;
  color: var(--primary-bg-color);
  border-radius: 50px;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.6rem 1rem;
}

/* Hero text */
h1 {
  font-family: "Flame Bold";
}


/* Media Queries for tablet view */

@media only  screen and (min-width:768px){
  button.cart {
    display: inline;
  }
}