/* Break points */

/* 768px */
/* 960px */

:root {
  --primary-bg-color: #F5EBDC;
  --secondary-bg-color: #D62300;
  --secondary-color: #502314;
}

/* Adding flame font */
@font-face {
  font-family: 'Flame Bold';
  src: url('./fonts/Flame-Bold.woff');
}

@font-face {
  font-family: 'Flame Regular';
  src: url('./fonts/Flame-Regular.woff');
}

@font-face {
  font-family: 'FlameSans Regular';
  src: url('./fonts/FlameSans-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  box-shadow: 0 1px 1.4px rgba(0, 0, 0, 0.2);
}

nav svg {
  width: 2rem;
}

button.register{
  font-family: "Flame Regular";
  color: #FFFFFF;
  border-radius: 50px;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 0.6rem 1rem;
}

button.cart {
  display: none;
}

/* Hero text */
h1 {
  font-family: "Flame Bold";
}